.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Overlay .ReactModal__Content {
  transform: translateY(20px);
  transition: transform 100ms ease-in-out;
}

.ReactModal__Overlay--after-open .ReactModal__Content {
  transform: translateY(0px);
}

.ReactModal__Overlay--before-close .ReactModal__Content {
  transform: translateY(20px);
}